:root {
  --white: #ffffff;
  --grey: #dddddd;
  --menu: #333333;
  --black: #000000;
  --turquoise: #00a994;
  --beige: #f5f5dc;	
  --dark-text: #424242;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Jumbotron */

.jumbotron {
  height: 100vh;
  width: 100%;
  background-color: var(--turquoise);
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron__content {
  color: var(--white);
  text-align: center;
}

.jumbotron__title {
  font-size: 3rem;
}

.jumbotron__separator {
  border: 1px solid rgba(255, 255, 255, 0.75);
}

.jumbotron__text {
  font-size: 1.5rem;
  font-weight: 300;
}

/* Section */

.section {
  padding: 3rem 25% 5rem;
}

@media screen and (max-width: 1024px) {
  .section {
    padding: 3rem 5% 5rem;
  }
}

.section:nth-child(even) {
  color: var(--dark-text);
  background-color: var(--white);
}

.section:nth-child(odd) {
  color: var(--dark-text);
  background-color: var(--beige);
}

.section__title {
  text-align: center;
  padding: 0rem 0 1rem 0;
  font-weight: 300;
  font-size: 3rem;
  color: var(--turquoise);
}

.section__separator {
  margin: 1rem 0 3rem 0;
}

/* Contact */

.contact {
  padding: 3rem 25% 5rem;
  color: var(--white);
  background-color: var(--dark-text);
}

@media screen and (max-width: 1024px) {
  .contact {
    padding: 3rem 5% 5rem;
  }
}

.contact__title {
  text-align: center;
  padding: 0rem 0 1rem 0;
  font-weight: 300;
  font-size: 3rem;
  color: var(--white);
}

.contact__body {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0 20rem 0;
}

@media screen and (max-width: 1024px) {
  .contact__body {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0 5rem 0;
  }
}

.contact a {
  color: var(--grey);
  display: flex;
  align-items: center;
}

.contact a:hover {
  color: var(--white);
}

.contact__icon {
  font-size: 2rem;
  margin: 0 1rem 0 0;
}

/* Utility */

.grid {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr 2fr;
  margin: 0 0 1rem 0;
}

.grid-2 {
  display: grid;
  grid-gap: 3rem;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0 1rem 0;
}

@media screen and (max-width: 1024px) {
  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

ul.no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul > li {
  min-height: 30px;
  padding: 3px 0px;
  display: flex;
  justify-content: space-between;
}

.fa-star {
  font-size: .75rem;
  color: var(--turquoise);
}

.grid-3 {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(3, 1fr);
  margin: 0 0 1rem 0;
}

/* Menu */

.menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--menu);
}

@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
}

.button {
  box-shadow: none;
  outline: none;
  font-size: 1rem;
  padding: .5rem;
  margin: .25rem;
  color: var(--grey)
}

.button:hover {
  color:  var(--white)
}
